.card {
  border-radius: 32px;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  transition: all 0.3s ease;
  display: flex;
  flex-direction: column;
}
.card:hover {
  transform: scale(1.05);
}
.expanded {
  width: 95%;
  max-width: 1200px;
}
.card.expanded:hover {
  transform: none;
}
.container {
  width: 100%;
}

.textContainer {
  flex: 1;
  min-width: 0;
  padding: 20px 25px;
  backdrop-filter: blur(10px);
  z-index: 10;
  background-color: transparent;
}

.title {
  font-weight: 700;
  font-size: 32px;
  margin-bottom: 8px;
  line-height: 1.2;
}

.description {
  font-size: 20px;
  max-width: 800px;
  line-height: 1.5;
}

.expandedContent {
  padding: 20px 25px;
  transition: all 0.3s ease;
}

.phaseContent {
  min-height: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  border-radius: 16px;
}

.buttonContainer {
  display: flex;
  justify-content: center;
  margin-top: auto;
  padding-bottom: 5px;
}

/* Responsive styles */
@media (max-width: 768px) {
  .card {
    width: 100%;
  }

  .expanded {
    width: 100%;
  }

  .title {
    font-size: 28px;
  }

  .description {
    font-size: 18px;
  }
}
